.filter-bar {
    width: 35%;
    padding: 15px;
  }
  
  .checkbox-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  input[type="checkbox"]:checked {
    background-color: #ff69b4;
  }
  
  .range-slider {
    width: 100%;
  }
  
  .rating {
    display: flex;
    align-items: center;
  }
  
  .apply-btn {
    width: 100%;
    background-color: #ff69b4;
    color: white;
    padding: 10px;
    text-align: center;
  }
  .rating-filter {
    margin: 15px 0;
  }
  
  .rating-row {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .range-slider {
  margin: 15px 0;
}
